/* ========== General Styles =========== */
*{
    font-family: 'Montserrat', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
  }
  
  #landing-container{
    background-image: url('../../assets/login-bg-compressed.jpg');
    background-size: cover;
  }
  
  /* hide scrollbar from chrome */
  div#body ::-webkit-scrollbar {
    display: none;
  }

  /* For some reason this style doesn't work in the global stylesheet */
  button{
    border-radius: 4px;
  }
  
  div#colour-filter{
    max-width: 100vw;
    min-height: 100vh;
    background-color: rgba(106, 0, 199, 0.432);
    box-sizing: border-box;
  }
  
  div#content{
    color: black;
    min-width: 100%;
    overflow: hidden;
  }
  
  /* ========== Banner styles ========== */

  a{
    text-decoration: none;
  }


  div#landing-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.01);
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
  }

  .banner-side-item{
    width: 25%;
  }


  .banner-text, #time-right-now{
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    font-size: 1.1em;
  }

  #time-right-now{
    font-size: 1.5rem;
  }


  
  div#logo-wrapper{
    width: 100%;
    height: 17vh;
    margin: 0 auto;
  }
  
  
  div#logo-wrapper img{
      width: 100%;
  }

  /* ========== Tagline styles ========== */
  
  div#tagline-wrapper{
    margin: 4% 0;
  }
  
  #tagline{
    font-weight: 900;
    color: black
  }
  
  /* ********************************************* Media queries ********************************************* */

  /* *************** 320px - 768px *************** */

  @media (min-width: 1px) and (max-width: 768px) {

    .banner-text, #time-right-now{

      font-size: 0.8em;
    }

  }

  @media (max-width: 520px){

    div#landing-banner{
      flex-direction: column;
      justify-content: center;
    }

    div#date-time-container{
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 5px;
    }

    div.banner-side-item{
      width: 45%;
    }
    
    div.time-container{
      display: flex;
      justify-content: flex-start;
    }

    div.date-container{
      display: flex;
      justify-content: flex-end;
    }

    #time-right-now {
      font-size: 1.2em;
    }
  }